[submodule "project/jni/application/openarena/engine"]
	path = project/jni/application/openarena/engine
	url = git@github.com:dd00/openarena-engine.git
	branch = dd00
[submodule "project/jni/application/openarena/vm"]
	path = project/jni/application/openarena/vm
	url = git@github.com:dd00/openarena-vm
[submodule "project/jni/iconv/src"]
	path = project/jni/iconv/src
	url = git@github.com:pelya/libiconv-libicu-android.git
[submodule "project/jni/openssl/openssl/jni"]
	path = project/jni/openssl/openssl/jni
	url = https://android.googlesource.com/platform/external/openssl
	branch = lollipop-mr1-dev
[submodule "project/jni/boringssl/boringssl/jni"]
	path = project/jni/boringssl/boringssl/jni
	url = https://android.googlesource.com/platform/external/boringssl
